/* General CSS */
body {
  background-image: url("../imgs/background.png");
}

.jumbotron {
  padding-top: 50px;
  border: 10px solid black;
  border-radius: 25px;
}

.card {
    float: none;
    margin: 0 auto;
    border: 11px solid black;
    border-radius: 25px;
}

/* index page */

#jumbotron_index_title {
  padding-top: 25px;
  margin: 0 auto;
  width: 80%;
}

#encoding_selectors {
  padding-top: 50px;
  padding-bottom: 50px;
  border: 10px solid black;
  border-radius: 25px;
  background-color: #8342f4;
}

#about_section {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px;
  border: 10px solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  text-align: center;
}

#about_section a {
  margin: 20px;
}

/* Encodings page */

#jumbotron_encoding_title {
  padding-top: 25px;
  margin: 0 auto;
  width: 80%;
}

#encoding_table {
  border: 10px solid black;
  border-radius: 25px;
  background-color: #F9F9F9;
  padding: 25px;
}

#encoding_back_btn {
  margin-top: 20px;
}

table {
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
